.ui.horizontal.very.relaxed.list {
	width: 100%;
}
.ui.horizontal.very.relaxed.list .item {
	width: 33%;
	padding-left: 0em;
	padding-right: 0em;
	text-align: center;
}
.ui.list .header {
	font-weight: bold;
	font-size: 24px;
}
.tab .item {
	padding: 1rem 0.75rem !important;
}
.attached.segment {
	padding: 0 !important;
}
.list.tab {
	margin-top: 0 !important;
}